* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    color: #000a6c;
    height: 40vh;
    border: 5px solid ;
    padding: 3em;
    background-color: aliceblue
  
}

header img {
    height: 20vh;
    width: 12vw;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    height: 5rem;
    margin: auto;
}

.menu {
    border: 2px solid  black;
    list-style: none;
    margin: auto;
}

@media screen (max-width: )