* {
    box-sizing: border-box;
}

header {
    display: flex;
    color: #000a6c;
    height: 40vh;
    border: 5px solid ;
}

header img {
    height: 20vh;
    width: 12vw;
}

h1 {
    font-size: 3rem;
}